<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.larryhsiao.aurademo">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- For overlay -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.larryhsiao.aurademo.MnemeImageGridDemoActivity"></activity>
        <activity android:name="com.larryhsiao.aurademo.InputDialogDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.larryhsiao.aurademo.ColorFragmentDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.fabcontrol.FabControlDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.PermissionRequestAuraActivity" />
        <activity android:name="com.larryhsiao.aurademo.AuraFragmentPermissionActivity" />
        <activity android:name="com.larryhsiao.aurademo.LogDemoActivity" />
        <activity
            android:name="com.larryhsiao.aurademo.BlurImageDemoActivity"
            android:label="BlurDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.larryhsiao.aurademo.media.MediaPlayerDemoActivity"
            android:label="MediaPlayerDemo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:mimeType="*/*"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.larryhsiao.aurademo.FullScreenActivity"
            android:label="Fullscreen Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.larryhsiao.aurademo.OverlayPermissionDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.larryhsiao.aurademo.PlaceHolderViewDemoActivity"
            android:label="Place Holder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.larryhsiao.aurademo.RippleBackgroundActivity" />
        <activity android:name="com.larryhsiao.aurademo.BrightnessDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.ConstructingActivity" />
        <activity android:name="com.larryhsiao.aurademo.AuraProgressBarActivity" />
        <activity android:name="com.larryhsiao.aurademo.WebViewDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.PageControlDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.resultpipe.FragmentResultDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.AudioRecordingActivity" />
        <activity android:name="com.larryhsiao.aurademo.BioAuthDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.ClickableSpanActivity" />
        <activity android:name="com.larryhsiao.aurademo.EmptyListAdapterActivity" />
        <activity android:name="com.larryhsiao.aurademo.AlertDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.SliderDemoActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name="com.larryhsiao.aurademo.BlurTextViewDemoActivity" />
        <activity android:name="com.larryhsiao.aurademo.DeepLinkClientDemoActivity" />

        <service android:name="com.larryhsiao.aurademo.media.MediaPlayerService"/>
    </application>
</manifest>